body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
/* This section manipulates the header structure to include the retro color scheme I chose.*/
header {
  width: 100%;
  background-color: rgb(50, 160, 182);
  padding:1px;
  border-bottom: 10px solid rgba(138, 95, 160, 0.743);
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

/* The following code sections focus on the navigation and motion that I added
to the buttons. They grow and change color when the cursor hovers over.*/
header nav ul {
  display:flex;
  justify-content: end;
  gap:2vw;
  list-style-type: none;
  margin-right: 2vw;
  margin-left: 2vw;
}


.button{
  padding:1em;
  margin: 0;
  width: 200px;
  height: 60px;
  text-align: center;
  top: 240px;
  left: 260px;
  position: left;
  border: 3px, dotted #555;
  border-radius: 30px;
  transition-duration: 3s;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  background-color: rgb(155, 100, 155);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: lighter;
  
}
.button:hover{
  cursor:pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  transform: scale(1.2);
  color: aliceblue;
}

/* The followig sections focus on the style of the body, box alignments and left column.
The sizing and other effects are also indicated in the code. */
.page-section{
display: flex;
flex: wrap;
gap:4vh;
justify-content: center;
border: rgba(0, 0, 0, 0.638) 3px none;
border-width: 3px 1.5px 3px 3px;
border-radius: 20px;
margin-left: 100px;
margin-right: 100px;
margin-top: 5px;
transition-duration: 3s; 
box-shadow: 5px 10px 18px #555555a9 inset;
padding: 20px 30px;
text-align: left;
}

.leftColumn, .leftColumnContact{

  float: left;
  width: 20%;
  padding: 10px;
  max-width: 40%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 350px;
  line-height: 2em;
  position: relative;
  background-color: #555555a9;
  border-radius: 40px;
  text-align: right;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}

h1{
  display: wrap;
  gap: 40vh;
  font-size: 40px;
  text-align: left;
  margin-left: 2vh;
}

/*The image section focus on the sizing and effects of hover, motion and sizing.
I added code to the suit image to be position at a specific row and column.*/
.img-profile{
  width: 50%;
  height: 50%;
  border-radius: 40%;
  opacity: 100%;
  margin-right: 5vw;
}

img{
  background-size: cover;
  background-repeat: no-repeat;
  position: center;
  border-radius: 40%;
  opacity: .7; 
  transition-duration: 3s;
  cursor:pointer;
}
img:hover{
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232,102,236,1);
}

.image-section{
  --gap:16px;
  --num-cols:4;
  --row-height: 400px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  margin-left: 20vw;
}

.image-section-col-2{
  grid-column: span 2;
}

.image-section-row-2{
  grid-row:span 2;
}

.image-section > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*The banner is for the text overlay at the contact image that also serves as a image link.
Digication Page.*/
.banner{
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.banner img{
  width: 100%;
}
.heading{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: x-small;
}

footer{
background-color: rgb(14, 172, 203);
padding:2vh;
border-bottom: 10px solid rgb(138, 95, 160);

}

/*Resizing of the entire webpage to fit within different parameter of display.*/
@media screen and (max-width: 2400px) {
  .image-section{
    --num-cols:4;
    --row-height:200px;
  }
  .image-section-col-2{
    grid-column: span 1;
  }
  
  .image-section-row-2{
    grid-row:span 1;
  }
  
}

@media screen and (max-width: 1500px) {
  .image-section{
    --num-cols:4;
    --row-height:200px;
  }
  .image-section-col-2{
    grid-column: span 3;
  }
  
  .image-section-row-2{
    grid-row:span 3;
  }
  
}

@media screen and (max-width: 1100px) {
  .image-section{
    --num-cols:2;
    --row-height:200px;
  }
  .image-section-col-2{
    grid-column: span 1;
  }
  
  .image-section-row-2{
    grid-row:span 1;
  }
  
}

@media screen and (max-width: 550px) {
  .image-section{
    --num-cols:1;
    --row-height:200px;
  }
  .image-section-col-2{
    grid-column: span 1;
  }
  
  .image-section-row-2{
    grid-row:span 1;
  }
  .title-container{
    max-width:604.5px;
    min-width:604.5px;
  }
  .leftColumn, .leftColumnContact, h1{
    font-size: medium;
    min-width: none;
  }
}